* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BODY */
body {
  background-color: #ebe1d9;
  font-family: aileron, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.body_forside {
  display: grid;
  grid-template-rows: 95.5px auto 49px;
}

/* HEADER */
header {
  border: 0.5px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: 40px;
  margin-left: 40px;
}
.header_content a {
  text-decoration: none;
}
/* TITEL I HEADER */
.title {
  font-size: 4rem;
  position: relative;
  top: 0;
  left: -35px;
  color: black;
}

.forside_main {
  position: relative;
  height: auto;
}

/* FORSIDE */
/* PORTRÆT / MALERI */
.indexbillede {
  max-width: 30%;
  position: absolute;
  top: 9%;
  left: 43%;
  z-index: 1000;
}

/* FÅR BILLEDET TIL AT BLIVE STØRRE NÅR MUSEN ER OVRE */
.indexbillede:hover {
  transform: scale(1.1);
}

/* VEKTORGRAFIK BILLEDET */
.indexbillede2 {
  position: absolute;
  top: 18%;
  left: 15%;
  z-index: 1000;
  max-width: 95%;
}
/* BILLEDET / MALERIET BAGERST */
.indexbillede3 {
  position: absolute;
  top: 0;
  left: 35%;
  z-index: 1000;
  padding-block: 1%;
}

/* NAVN INDE I VEKTORGRAFIK */
.overskrift_sara {
  font-family: "blenny", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  color: #748f8c;
  position: absolute;
  top: -125px;
  left: 19%;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* DETTE FÅR "SARA" TIL AT KOMME IND FRA SIDEN */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.overskrift_meisner {
  font-family: aileron, sans-serif;
  font-size: 3.5rem;
  color: black;
  z-index: 1;
  position: relative;
  top: -55px;
  left: 8px;
  font-weight: lighter;
}

.index_overskrift {
  position: absolute;
  top: 393px;
  left: 260px;
  z-index: 1;
}

/* PROJECTS SIDE */
.projectsbillede {
  position: relative;
  top: 20px;
  left: 510px;
}
/* BOGSTAV OG TAL HAR FÅET HVER DERES CLASS SÅ DE KUNNE STYLES */
.bogstav {
  font-family: "blenny", sans-serif;
  font-size: x-large;
  font-style: normal;
  color: #748f8c;
}
.tal {
  font-family: aileron, sans-serif;
  font-size: x-large;
  color: black;
  text-decoration: underline;
}

.projects_site {
  position: relative;
}
.projectsbillede_container {
  position: relative;
  text-align: center;
}
/* LINKS TIL PROJEKT SIDERNE */
.projects_links {
  display: flex;
  position: absolute;
  top: 58%;
  left: 53%;
  transform: translate(-50%, -50%); /* centrere elementerne*/
  justify-content: space-evenly;
  flex-direction: column;
}
.projects_links a {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-decoration: none;
  text-align: center;
  padding: 40%;
}
/* GØR AT LINKS BLIVER STØRRE NÅR MUSEN ER OVER */
.projects_links a:hover {
  transform: scale(1.1);
}

.projects_links a p {
  font-size: 2rem;
}

/* BILLEDE BAG LINKSENE */
.projectsbillede {
  display: block;
  max-width: 100%;
  position: relative;
  z-index: -1;
}

.overskrift_projects {
  font-family: aileron, sans-serif;
  font-size: 3.5rem;
  color: black;
  z-index: 1;
  position: relative;
  top: -158px;
  left: -53px;
  font-weight: lighter;
}

/* MENU */
.dropbtn {
  background-color: #04aa6d00;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4cda7;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
/* LINKSENE INDE I MENUEN */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* GØR AT FARVEN ÆNDRER SIG NÅR MUSEN ER OVER */
.dropdown-content a:hover {
  background-color: #ebe1d9;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e4100;
}

/* ---------------------- * GENERAL CSS * ---------------------- */
/* OVERSKRIFT TIL PROJECT SIDERNE */
.overskrift {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}

.overskrift p {
  font-size: 2rem;
}

.p1 {
  font-family: aileron, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.N0_samletindhold {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding-top: 10px;
}

/* PLACERING AF KARRUSEL */
.N0_site {
  position: relative;
}

/* KARRUSEL START */
.slideshow-container {
  width: 75%;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
/* BILLEDER I KARRUSEL */
.slides img {
  width: 100%;
  height: auto;
}
/* PILENE I KARRUSEL */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #748f8c;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* TILBAGE KNAP */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* NÆSTE KNAP */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* EFFEKT PÅ KNAPPERNE */
.prev:hover,
.next:hover {
  background-color: #e8d9c5;
}
/* KARRUSEL SLUT */

/* FOOTER */
footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 1px;
  padding: 15px;
  margin-top: auto;
}

/* -------------- PROJECT SIDERNE -------------- */
/* N01 */

.tekstindhold01 {
  font-family: aileron, sans-serif;
  margin: 0;
  padding-top: 15px;
}

.tekstindhold01 p {
  font-weight: lighter;
  text-transform: uppercase;
  width: 80%;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
}
h4 {
  font-family: aileron, sans-serif;
  color: #748f8c;
  font-size: medium;
}
/* 
- CONTAINER RUNDT OM TEKST OG KNAP
- FLEX SÅ KNAPPEN KAN SIDDE UNDER TEKSTEN */
.tekstbox_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.klikherknap {
  text-align: center;
  font-weight: lighter;
  background-color: #e4cda7;
  color: #748f8c;
  border: 1px #748f8c;
  border-radius: 1px;
  text-decoration: none;
  padding: 10px 6px;
  transition-duration: 0.4s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 20px;
  margin-right: 80px;
}

.klikherknap:hover {
  background-color: #e8d9c5;
  color: black;
}

/* modalvinduets baggrund */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* gør så man kan scrolle */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #e8d9c5;
  margin: 15% auto;
  padding: 20px;
  border: 5px solid #748f8c;
  width: 30%;
  line-height: 1.7rem;
  padding-top: 15px;
}
.modal-content p {
  margin-bottom: 20px; /* Tilføjer mellemrum under hvert afsnit */
}

/* The Close Button */
.close {
  color: #748f8c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#myBtn {
  text-align: center;
  font-weight: lighter;
  background-color: #e4cda7;
  color: #748f8c;
  border: 1px #748f8c;
  border-radius: 1px;
  text-decoration: none;
  padding: 10px 6px;
  transition-duration: 0.4s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 20px;
  margin-right: 80px;
  font-size: 1rem;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #e8d9c5;
  color: black;
}
