/* DESKTOP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ebe1d9;
  font-family: aileron, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  max-width: 1280px;
  margin: 0 auto;
}

/* HEADER START */
header {
  border: 0.5px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  max-width: 100dvw;
}
/* placering af indhold inde i header */
.header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-right: 40px;
  margin-left: 40px;
}
/* fjerner stregen under linksene i headeren */
.header_content a {
  text-decoration: none;
}
/* titel i header */
.title {
  font-size: 4rem;
  position: relative;
  top: 0;
  left: -35px;
  color: black;
}
/* HEADER SLUT */

/* MENU START */
.dropbtn {
  background-color: #04aa6d00;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* placering af menu */
.dropdown {
  position: relative;
  display: inline-block;
}
/* menu boksen */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e4cda7;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
/* links i menu */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* gør at farven ændrer sig når musen er over */
.dropdown-content a:hover {
  background-color: #ebe1d9;
}
/* gør at menuen vises når musen holdes over */
.dropdown:hover.dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e4100;
}
/* MENU SLUT */

/* FORSIDE START*/
.body_forside {
  display: grid;
  grid-template-rows: 95.5px auto 49px;
  background-image: linear-gradient(#ebe1d9, #e4cda7);
}
.forside_main {
  max-width: 1000px;
  aspect-ratio: 10/7;
  margin: 2% auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 0.2fr;
}
.forside_main img {
  width: 100%;
  height: auto;
}
/* maleriet bagerst */
img.indexbillede3 {
  height: 100%;
  grid-column: 3/7;
  grid-row: 1/5;
  margin-left: -8%;
}
/* vektorgrafik billedet */
.indexbillede2 {
  grid-column: 1/4;
  grid-row: 2/5;
}
/* maleriet af mig */
.indexbillede {
  grid-column: 5/8;
  grid-row: 3/6;
  padding-top: 0;
  padding-left: 16%;
}
/* billedet bliver større når musen er over */
.indexbillede:hover {
  transform: scale(1.1);
}
.index_overskrift {
  grid-column: 2/3;
  grid-row: 3/4;
  line-height: 1;
  text-align: center;
  margin-left: -35%;
  margin-top: 15%;
}
/* navn inde i vektorgrafik */
.overskrift_sara {
  font-family: "blenny", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  color: #748f8c;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* får "sara" til at komme ind fra siden når siden loades */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.overskrift_meisner {
  font-family: aileron, sans-serif;
  font-size: 3.5rem;
  color: black;
  z-index: 1;
  font-weight: lighter;
}
/* FORSIDE SLUT */

/* PROJECTS SIDE START */
/* bogstav og tal har fået hver deres class så de kunne styles hver især */
.bogstav {
  font-family: "blenny", sans-serif;
  font-size: x-large;
  font-style: normal;
  color: #748f8c;
  span {
    font-family: aileron, sans-serif;
    font-size: 2.8rem;
    color: black;
    text-decoration: underline;
  }
}
.body_projects {
  background-image: linear-gradient(#ebe1d9, #e4cda7);
}
.projects_site {
  max-width: none;
  margin: 0;
}
.projectsbillede_container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  width: 30%;
  margin: 20px auto;
}
.projectsbillede {
  grid-row: 1/4;
  grid-column: 1/4;
  width: 100%;
}
/* links til de forskellige projekter */
.projects_links {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2px;
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 16%;
  margin-top: 7%;
  padding-left: 45%;
}
.projects_links a {
  align-items: baseline;
  text-decoration: none;
}
.projects_links a p {
  font-size: 3rem;
}
/* gør at linksene bliver større når musen er over */
.projects_links a:hover {
  transform: scale(1.1);
}
/* PROJECTS SIDE SLUT */

/* STYLING DER GÅR IGEN PÅ DE 5 FORSKELLIGE PROJEKT SIDER START */
.overskrift {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
}
.overskrift p {
  font-size: 2rem;
}
.p1 {
  font-family: aileron, sans-serif;
  font-weight: 100;
  font-style: normal;
}
/* gør at karruselen fylder 2.5fr og tekst og knapper fylder 1fr */
.N0_samletindhold {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  padding-top: 10px;
}
.N0_site {
  position: relative;
}
/* karrusel start*/
.slideshow-container {
  width: 80%;
  position: relative;
  overflow: hidden;
  margin: auto;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
/* billeder i karruselen */
.slides img {
  width: 100%;
  height: auto;
}
/* pilene i karruselen */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #748f8c;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* tilbage knap */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
/* næste knap */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* effekt på knapperne */
.prev:hover,
.next:hover {
  background-color: #e8d9c5;
}
/* karussel slut */
.tekstindhold01 {
  font-family: aileron, sans-serif;
  margin: 0;
  padding-top: 5px;
}
.tekstindhold01 p {
  font-weight: lighter;
  width: 95%;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.1rem;
}
h4 {
  font-family: aileron, sans-serif;
  color: #748f8c;
  font-size: medium;
}
/* container rundt om tekst og knap, flex så knappen sidder under */
.tekstbox_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* pop up vindue start */
/* pop up vinduets baggrund */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* gør så man kan scrolle */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
/* pop up indhold */
.modal-content {
  background-color: #e8d9c5;
  margin: 15% auto;
  padding: 20px;
  border: 5px solid #748f8c;
  width: 30%;
  line-height: 1.7rem;
  padding-top: 15px;
}
/* tilføjer mellemrum under hvert tekst afsnit */
.modal-content p {
  margin-bottom: 20px;
}
/* de to pop up vinduer med video*/
.modal-content_video {
  width: fit-content;
  background-color: #e8d9c5;
  margin: 15% auto;
  padding: 20px;
  border: 5px solid #748f8c;
  line-height: 1.7rem;
  padding-top: 15px;
  justify-content: center;
  display: flex;
}
/* kryds / lukke knappen */
.close {
  color: #748f8c;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* knap der videresender til omtalte website */
.klikherknap {
  text-align: center;
  background-color: #e4cda7;
  color: #748f8c;
  border: 1px #748f8c;
  border-radius: 1px;
  text-decoration: none;
  padding: 10px 6px;
  transition-duration: 0.4s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 20px;
  margin-right: 80px;
}
.klikherknap:hover {
  background-color: #e8d9c5;
  color: black;
}
/* knap til pop up vindue */
#myBtn {
  text-align: center;
  background-color: #e4cda7;
  color: #748f8c;
  border: 1px #748f8c;
  border-radius: 1px;
  text-decoration: none;
  padding: 10px 6px;
  transition-duration: 0.4s;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 19px;
  margin-right: 80px;
  font-size: 1rem;
  cursor: pointer;
}
#myBtn:hover {
  background-color: #e8d9c5;
  color: black;
}
.tilbageknap_img {
  width: 3%;
  position: fixed;
  top: 120px;
  left: 20px;
  z-index: 999;
}
/* pop up vindue slut */
/* STYLING DER GÅR IGEN PÅ DE 5 FORSKELLIGE PROJEKT SIDER SLUT */

/* ABOUT ME START */
.aboutme_body {
  background-image: linear-gradient(#ebe1d9, #e4cda7);
}
/* overskrift på about me */
.aboutme_overskrift {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* animation på overskriften */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* about */
h1 {
  font-family: "blenny", sans-serif;
  color: #748f8c;
  font-size: 3rem;
}
/* me */
.span_abotme {
  font-family: aileron, sans-serif;
  font-size: 3rem;
  margin-top: 16px;
  font-weight: 250;
  color: black;
}

/* billederne af mig */
.mig {
  width: 100%;
}
/* maleri og krediterings del start */
.ommig1 {
  width: 90%;
  margin-top: 3%;
}
.frida {
  font-family: aileron, sans-serif;
  font-weight: 250;
  font-style: italic;
  font-size: x-small;
  text-transform: uppercase;
  color: #748f8c;
  margin-left: 9%;
}
.kreditering_frida {
  margin-left: 39%;
}
/* maleri og krediterings del slut*/
/* harmonika start */
.harmonika {
  padding: 12px;
  margin-left: 28%;
}
details {
  font-family: aileron, sans-serif;
  margin-left: 13%;
  margin-top: 2%;
  width: fit-content;
}
/* titlen på harmonikaen */
summary {
  background: #e8d9c5;
  padding: 8px 12px;
  border-bottom: solid 1px #ebe1d9;
  transition: background 1s;
  cursor: pointer;
  border-radius: 4px;
}
summary:hover {
  background: #ebe1d9;
}
/* baggrunds farve og farve på tekst når harmonikaen er åben */
details[open] summary {
  background: #ebe1d9;
  color: black;
}
/* billeder i harmonikaen */
.gonzo {
  width: 50%;
}
.thehummusbar {
  width: 50%;
}
/* harmonika slut */
/* kontakt start */
.kontakt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kontakt a {
  padding: 8px;
  text-align: center;
  width: fit-content;
  margin-right: -2%;
}
.mail {
  font-size: 12px;
  font-family: aileron, sans-serif;
  color: black;
  font-weight: 300;
}
.mail:hover {
  opacity: 0.4;
}
.insta {
  font-size: 16px;
  font-family: aileron, sans-serif;
  color: #748f8c;
  font-weight: 200;
}
.insta:hover {
  opacity: 0.4;
}
.linkedin {
  font-size: 20px;
  font-family: aileron, sans-serif;
  color: black;
  font-weight: 100;
}
.linkedin:hover {
  opacity: 0.4;
}
/* kontakt slut */
/* div rundt om original maleriet og teksten om mine færdigheder, så de sidder ved siden af hinanden */
.grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}
.skills {
  /* gør at min tekst sidder i midten */
  place-self: center;
  font-family: aileron, sans-serif;
  line-height: 1.5;
  width: 76%;
  text-align: left;
}
.skills p {
  /* laver mellemrum mellem de to p tags */
  padding-bottom: 15px;
}
/* ABOUT ME SLUT */

/* FOOTER START */
footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 1px;
  padding: 15px;
  margin-top: auto;
}
/* FOOTER SLUT */

/* --------------------------------- TABLET --------------------------------- */
/* når skærmen er max 1000px - dvs den er under 1000 */
@media (max-width: 1000px) {
  /* FORSIDE START */
  /* skjuler de to billeder */
  img.indexbillede3,
  .indexbillede2 {
    display: none;
  }
  /* centrer overskriften på midten af skærmen */
  .index_overskrift {
    /* strækker overskriften over alle kolonner */
    grid-column: 1/-1;
    /* placerer den på første række */
    grid-row: 1;
    text-align: center;
    margin: 0 auto;
  }
  .indexbillede {
    max-width: 60%;
    display: block;
    margin: 20px auto;
    /* strækker billedet over alle kolonner */
    grid-column: 1 / -1;
    /* placerer billedet på anden række */
    grid-row: 2;
    margin-left: 87px;
  }
  /* FORSIDE SLUT */
  /* HEADER START */
  .title {
    font-size: 2.5rem;
  }
  .name {
    font-size: small;
  }
  .dropbtn {
    font-size: small;
  }
  /* HEADER SLUT */

  /* FORSIDE START */
  .overskrift_sara {
    font-size: 2.5rem;
  }
  .overskrift_meisner {
    font-size: 2.5rem;
  }
  /* FORSIDE SLUT */

  /* PROJECT SIDE START */
  .projectsbillede {
    display: none;
  }
  .projects_links {
    margin-top: 7%;
    gap: 7%;
    padding-left: 16%;
    min-width: 250px;
  }
  /* PROJECT SIDE SLUT */

  /* DE FORSKELLIGE PROJEKTER START */
  /* ændrer rækkefølgen */
  .N0_samletindhold {
    display: flex;
    flex-direction: column-reverse;
  }
  /* flytter slideshowet under teksten */
  .N0_slides {
    order: 2;
  }
  /* flytter teksten over slideshowet */
  .tekstbox_container {
    order: 1;
  }
  .tekstindhold01 {
    padding-left: 13%;
    margin-top: 3%;
  }
  .klikherknap {
    margin-top: 1%;
    margin-left: 12%;
  }
  #myBtn {
    margin-top: 2%;
    margin-left: 12%;
  }
  .tilbageknap_img {
    width: 5%;
    position: fixed;
    top: 9%;
    left: 2%;
  }
  /* DE FORSKELLIGE PROJEKTER SLUT */
  /* ABOUT ME START */
  .span_abotme {
    margin-top: 2px;
  }
  .ommig1 {
    width: 120%;
    margin-left: -28%;
    margin-top: 5%;
  }
  .frida {
    margin-left: -5%;
  }
  .harmonika {
    margin-left: 19%;
  }
  footer {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    gap: 5px;
  }
  /* ABOUT ME SLUT */
}

/* --------------------------------- MOBILESITE --------------------------------- */
@media only screen and (max-width: 800px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
  }
  /* HEADER START */
  .title {
    font-size: 2rem;
    padding-left: 80px;
  }
  .name {
    font-size: small;
  }
  .dropbtn {
    font-size: small;
  }
  .header_content {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .dropdown-content a {
    color: black;
    padding: 4px 2px;
    text-decoration: none;
    display: block;
    font-size: small;
  }
  /* HEADER SLUT */

  /* FORSIDE START */
  /* skjuler de to billeder */
  img.indexbillede3,
  .indexbillede2 {
    display: none;
  }
  /* centrer overskriften på midten af skærmen */
  .index_overskrift {
    /* strækker overskriften over alle kolonner */
    grid-column: 1/-1;
    /* placerer den på første række */
    grid-row: 1;
    text-align: center;
    margin: 0 auto;
  }
  .indexbillede {
    max-width: 90%;
    display: block;
    /* strækker billedet over alle kolonner */
    grid-column: 1/-1;
    /* placerer det på anden række under overskriften */
    grid-row: 2;
    margin: 20px auto;
    margin-left: 35px;
  }
  /* FORSIDE SLUT */

  /* PROJECTS SIDE START */
  .projectsbillede {
    display: none;
  }
  .projectsbillede_container {
    display: block;
  }
  /* PROJECTS SIDE SLUT */

  /* DE FORSKELLIGE PROJEKTER START */
  /* ændrer rækkefølgen */
  .N0_samletindhold {
    display: flex;
    flex-direction: column-reverse;
  }
  /* flytter slideshowet under teksten */
  .N0_slides {
    order: 2;
  }
  /* flytter teksten over slideshowet */
  .tekstbox_container {
    order: 1;
  }
  .tekstindhold01 {
    padding-left: 13%;
  }
  .bogstav {
    font-size: large;
    span {
      font-size: 1.8rem;
    }
  }
  .overskrift p {
    font-size: 1.5rem;
  }
  /* DE FORSKELLIGE PROJEKTER SLUT */

  /* ABOUT ME */
  .span_abotme {
    margin-top: 16px;
  }
  /* gør så billedet og tekst ligger under hinanden istedet for 1fr 1fr */
  .grid_1-1 {
    display: block;
  }
  .skills {
    width: 80%;
    margin-top: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }
  .harmonika {
    margin-left: 1%;
  }
  .tilbageknap_img {
    margin-top: 4%;
  }
  .projects_links a p {
    font-size: 2rem;
    padding-bottom: 35px;
    min-width: 100px;
  }
  footer {
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    gap: 5px;
  }
  /* centrer det */
  .ommig1 {
    width: 90%;
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .frida {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .kreditering_frida {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ABOUT ME SLUT */
